body{
    background: black;
    
}
.box{
    background: #555;
    color:whitesmoke;
    font-size: 10rem;
    height: 90%;
    width: 12%;
    margin: 2%;
    text-align: center;
}
.container{
    display:inline-flex;
    height:30vh;
    margin: 5%;
    width: 90vw;
}
